# Blacklist all files initially
/*

# Whitelist relevant config files
!LICENSE

!.gitignore

!.profile
!.xprofile
!.zprofile

!.Xdefaults

!.emoji

!.bashrc
!.inputrc

!.config/
!.scripts/

!README.md
